.Main_content{
flex:1 0 auto;
display: flex;
justify-content: center;
padding: 50px 100px;
position: relative;
}
.Main_container{
    display: flex;
    flex-direction: column;
     justify-content: space-between;
    align-items: center;
    text-align: center;
    width:780px;
    height: 100%;

}
.Main_List{
display: flex;
flex-direction: column;

}
.Main_loading{
    position: relative;
    top: 30%;

}
.currency_row{

}


.Main_buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}