.footer{
    background-color: rgba(0,0,0,.8);
    height: 75px;
  
    display: flex;
    align-items: center;
   
    
}
.info{
    margin-left: 25px;
}
.info_text{
    color: white;
    margin-bottom: 5px;
    opacity: .6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.info_icons{
    cursor: pointer;
    display: flex;
    gap: 10px;
    
}
.info_link{
    &:nth-child(1){
        .info_icon{

            transition: all .4s;
            &:hover{
                color:rgb(214, 212, 93);
                transform: scale(1.2);
                
            }
        }
    }
    &:nth-child(2){
        .info_icon{

            transition: all .4s;
            &:hover{
                color:rgb(78, 140, 233);
                transform: scale(1.2);
                
            }
        }
    }
   &:nth-child(3){
    .info_icon{

        transition: all .4s;
        &:hover{
             
            color:rgb(167, 61, 167) !important;  
            transform: scale(1.2);
            
        }
    }
    }
}
.info_icon{
    width: 25px;
    height: 20px;
    color:grey
  
    
}